body, html{
  height:100%;
}
body{
  margin: 0;
  background-image: url('src/bgtile.png');
  font-size: 14px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 8px;
  float:right;
}

.behaviorButton, .feverButton{
  padding: 5px 8px;
  float:left;
}

.feverButton {
  color: #FF9999;
  cursor: pointer;
}

.topbar{
  height:30px;
  background-color: #555;
}
.title{
  background-color: #777;
}

.dancer{
  position:absolute;
  height: 20px;
  width: auto;
  display:block;
}

.flipped {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.discoBall {
  display: block;
  position: fixed;
  left: 50%;
  top: -200px;
}

.pole {
  margin-top:-200px;
  z-index: 1;
  height:200px;
  width:6px;
  margin-left: -3px;
  background-color: #444444;
}

.ball {
  z-index: 2;
  width:100px;
  height:auto;
  margin-left: -50px;
}

.greyOut {
  opacity: 0;
  background-color: #000000;
  position:absolute;
  margin:0;
  width:105%;
  height:1000px;
  top:30px;
  left:0;
}